<!doctype html>
<html>
  <head>
    <title>Hide Slack Emoji - Options</title>
    <script src='/thirdparty/jquery-2.2.3.js'></script>
    <script src='/js/popup.js'></script>
    <link rel="stylesheet" href="/css/popup.css">
  </head>
  <body>
    <h3>Hide Slack Emoji - Options</h3>
    <form name="options">
      <label for='hide_none'><input id='hide_none' type='radio' name='options' value='hide_none'>Hide nothing</label>
      <br>
      <label for='hide_parrot'><input id='hide_parrot' type='radio' name='options' value='hide_parrot'>Hide party parrot</label>
      <br>
      <label for='hide_all'><input id='hide_all' type='radio' name='options' value='hide_all'>Hide all slack emojis</label>
      <br>
    </form>
  </body>
</html>
